%gutter {
  padding-left: 15px;
  padding-right: 15px;
  @media (min-width: 992px) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

header.header {
  display: flex;
  align-items: center;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 500;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 40px;
  @extend %gutter;
}

.content {
  @extend %gutter;
}
.footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: gray;
  @extend %gutter;

  &_copyright {
    margin-left: auto;
    display: flex;
    align-items: center;
    &__link {
      margin-left: 5px;
      color: inherit;
    }
  }
  &__tag {
    display: flex;
    align-items: center;
    color: inherit;
    span {
      padding: 0;
      line-height: 1;
    }
  }
}
